# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.venv/
venv/
ENV/

# Distribution / packaging
build/
dist/
*.egg-info/

# Test / coverage
.pytest_cache/
.coverage

# IDEs / editors
.vscode/
.idea/

# Environment files
.env
